# We install vocexcel directly from a specific branch form github (or gitea in LIKAT)

vocexcel @ git+https://github.com/nfdi4cat/VocExcel.git@nfdi4cat-dev
#vocexcel @ git+https://gogs.catalysis.de/LIKAT_RDM/VocExcel.git@nfdi4cat-dev

# ...and how to use a specific commit?
#vocexcel @ git+https://github.com/nfdi4cat/VocExcel.git@5cbae28b2d
# ...and how to use a specific tag, e.g. named "v0.3.0"?
#vocexcel @ git+https://github.com/nfdi4cat/VocExcel.git@v0.3.0#egg=vocexcel

django>=4.0.0
openpyxl>=3.0.9; python_version >= "3.6"
pillow>=9.1.0
