name: Tests

on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  PIP_DISABLE_PIP_VERSION_CHECK: "1"
  PIP_PROGRESS_BAR: "off"

jobs:
  tests:
    name: Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version:
        - '3.10'
        - '3.11'
        - '3.12'
        - '3.13'
        - '3.14'

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -VV
        python -m pip install --upgrade pip
        python -m pip install --upgrade .[tests,docs]
        python -m pip install git+https://github.com/dalito/pyLODE.git@nfdi4cat-2.x

    - name: Run tests & collect coverage
      run: |
        python -m coverage run -p -m pytest

    - name: Upload coverage data
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
      with:
        include-hidden-files: true
        name: coverage-data-${{ matrix.python-version }}
        path: .coverage.*

    - name: Build Sphinx documentation
      run: |
        sphinx-build -b html --nitpicky --fail-on-warning --keep-going docs docs/_build/html

  coverage:
    name: Combine & check coverage
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: python -m pip install --upgrade coverage[toml]

      - name: Download data
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53
        with:
          pattern: coverage-data-*
          merge-multiple: true

      - name: Combine coverage, create reports and fail if less than threshold.
        run: |
          python -m coverage combine
          python -m coverage html --skip-empty
          echo '## Test Coverage Report' >> $GITHUB_STEP_SUMMARY
          python -m coverage report --format=markdown >> $GITHUB_STEP_SUMMARY

          # We are working on increasing coverage and don't accept regressions.
          python -m coverage report --fail-under=97

      - name: Upload HTML report
        if: ${{ failure() }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: html-report
          path: .htmlcov
